# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.bundle
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
geotest
frqtest
fgcom*.jar
FGCom*.jar
*.catch2

# Certs
*.pem
*.key
*.crt
*.csr

# radio samples
*.fgcs

# misc
*.csv
*.log
dllResource.rc

# Archives
*.zip
*.tar.gz
*.mumble_plugin

# runtime config
fgcom-mumble_LOCAL.ini
server/statuspage/config.ini
*.stats
*.db

# Maven build directories
/client/radioGUI/target/
/client/radioGUI/lib/jsimconnect/target/

# Java compiled files
*.class

# Maven dependencies (if installed locally)
.m2/
test/fuzzing_tests/mull/
test/rapidcheck_tests/lib/rapidcheck/
