[submodule "client/mumble-plugin/lib/openssl"]
	path = client/mumble-plugin/lib/openssl
	url = https://github.com/openssl/openssl
	branch = OpenSSL_1_1_1-stable
[submodule "client/radioGUI/lib/jsimconnect"]
	path = client/radioGUI/lib/jsimconnect
	url = https://github.com/mharj/jsimconnect.git
